<div class='container' [ngStyle]="{'height': '100vh'}">
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header [ngStyle]="{'background-color': 'aqua'}">
                <mat-panel-title>
                    checkpoint 1
                </mat-panel-title>
                <mat-panel-description>
                    data xyz
                </mat-panel-description>
            </mat-expansion-panel-header>
                <p>bla bla bla</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header [ngStyle]="{'background-color': 'aqua'}">
                <mat-panel-title>
                    checkpoint 2
                </mat-panel-title>
                <mat-panel-description>
                    data abc, descricao ou qlqr coisa
                </mat-panel-description>
            </mat-expansion-panel-header>
                <p>asdfasdfasdf</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header [ngStyle]="{'background-color': 'aqua'}">
                <mat-panel-title>
                    entrega 1
                </mat-panel-title>
                <mat-panel-description>
                    fdfdfasdfads
                </mat-panel-description>
            </mat-expansion-panel-header>
                <p>123</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header [ngStyle]="{'background-color': 'aqua'}">
                <mat-panel-title>
                    entrega 2
                </mat-panel-title>
                <mat-panel-description>
                    qwerty
                </mat-panel-description>
            </mat-expansion-panel-header>
                <p>qwertyy</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header [ngStyle]="{'background-color': 'aqua'}">
                <mat-panel-title>
                    entrega 3
                </mat-panel-title>
                <mat-panel-description>
                    ffffffffff
                </mat-panel-description>
            </mat-expansion-panel-header>
                <p>hhhhhhhhh</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header [ngStyle]="{'background-color': 'aqua'}">
                <mat-panel-title>
                    entrega4
                </mat-panel-title>
                <mat-panel-description>
                    data, descrição, informacoes etc
                </mat-panel-description>
            </mat-expansion-panel-header>
                <p>ddddddddddd</p>
        </mat-expansion-panel>

    </mat-accordion>
</div>