<div gdAreas=" . riscos . " gdGap="10px" gdRows="1fr" gdColumns='.1fr 1fr .1fr'>
    <div gdArea='riscos' fxLayout='column' fxLayoutGap='5px'
        [ngStyle]="{'margin': '10', 'padding': '10', 'background-color': 'lightcoral', 'height' : 'auto'}">

        <div [ngStyle]="{'margin': '30', 'padding': '30', 'background-color': 'cadetblue'}">
            <h4 class="mat-display-1" [ngStyle]="{'margin': '0', 'padding': '0', 'font-weight': 'bold'}">
                Problema 1
            </h4>

            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='5px'>
                <div
                    [ngStyle]="{'width': '160px', 'background-color': 'lightblue', 'font-weight': 'bold', 'font-size': '25px'}">
                    Probabilidade</div>

                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6337.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6337.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6337.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
            </div>

            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='5px'>
                <div
                    [ngStyle]="{'width': '160px', 'background-color': 'lightblue', 'font-weight': 'bold', 'font-size': '25px'}">
                    Impacto</div>

                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
            </div>

            <h1 class="mat-headline" [ngStyle]="{'margin': '0', 'padding': '0'}">descrição do problema 1</h1>
            <h1 class="mat-headline" [ngStyle]="{'margin': '0', 'padding': '0'}">resolução do problema 1</h1>
        </div>

        <div [ngStyle]="{'margin': '10', 'padding': '10', 'background-color': 'cadetblue'}">
            <h4 class="mat-display-1" [ngStyle]="{'margin': '0', 'padding': '0', 'font-weight': 'bold'}">
                Problema 1
            </h4>

            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='5px'>
                <div
                    [ngStyle]="{'width': '160px', 'background-color': 'lightblue', 'font-weight': 'bold', 'font-size': '25px'}">
                    Probabilidade</div>

                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
            </div>

            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='5px'>
                <div
                    [ngStyle]="{'width': '160px', 'background-color': 'lightblue', 'font-weight': 'bold', 'font-size': '25px'}">
                    Impacto</div>

                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
            </div>

            <h1 class="mat-headline" [ngStyle]="{'margin': '0', 'padding': '0'}">descrição do problema 1</h1>
            <h1 class="mat-headline" [ngStyle]="{'margin': '0', 'padding': '0'}">resolução do problema 1</h1>
        </div>

        <div [ngStyle]="{'margin': '10', 'padding': '10', 'background-color': 'cadetblue'}">
            <h4 class="mat-display-1" [ngStyle]="{'margin': '0', 'padding': '0', 'font-weight': 'bold'}">
                Problema 1
            </h4>

            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='5px'>
                <div
                    [ngStyle]="{'width': '160px', 'background-color': 'lightblue', 'font-weight': 'bold', 'font-size': '25px'}">
                    Probabilidade</div>

                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
            </div>

            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='5px'>
                <div
                    [ngStyle]="{'width': '160px', 'background-color': 'lightblue', 'font-weight': 'bold', 'font-size': '25px'}">
                    Impacto</div>

                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
            </div>

            <h1 class="mat-headline" [ngStyle]="{'margin': '0', 'padding': '0'}">descrição do problema 1</h1>
            <h1 class="mat-headline" [ngStyle]="{'margin': '0', 'padding': '0'}">resolução do problema 1</h1>
        </div>

        <div [ngStyle]="{'margin': '10', 'padding': '10', 'background-color': 'cadetblue'}">
            <h4 class="mat-display-1" [ngStyle]="{'margin': '0', 'padding': '0', 'font-weight': 'bold'}">
                Problema 1
            </h4>

            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='5px'>
                <div
                    [ngStyle]="{'width': '160px', 'background-color': 'lightblue', 'font-weight': 'bold', 'font-size': '25px'}">
                    Probabilidade</div>

                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
            </div>

            <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='5px'>
                <div
                    [ngStyle]="{'width': '160px', 'background-color': 'lightblue', 'font-weight': 'bold', 'font-size': '25px'}">
                    Impacto</div>

                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
                <div style="background-image: url(https://icon-icons.com/icons2/39/PNG/32/favoritesilver_star_favorite_6338.png)"
                    [ngStyle]="{'background-color': 'lightblue', 'height': '32px', 'width': '32px'}">
                </div>
            </div>

            <h1 class="mat-headline" [ngStyle]="{'margin': '0', 'padding': '0'}">descrição do problema 1</h1>
            <h1 class="mat-headline" [ngStyle]="{'margin': '0', 'padding': '0'}">resolução do problema 1</h1>
        </div>

    </div>
</div>